#navbar {
  background-color: black;
  display: flex;
  align-items: center;
  height: 20vh;
}

.video-icon {
  height: 20vh;
  margin-left: 2vw;
  margin-right: 4vw;
}

.button-nav {
  margin: 0;
  display: inline;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.navbutton {
  flex: 1;
  height: 15vh;
  width: 35vh;
  padding: 1vw 2vw;
  font-size: 5vh;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 0.4vw;
  box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
  margin: 0.4vw;
}

.panier {
  border-radius: 100%;
  background-color: #ccc;
  justify-content: center;
  align-items: center;
}

.panier img {
  max-width: 120%;
  max-height: 120%;
}

.home {
  background-color: #3498db;
  justify-content: center;
  align-items: center;
}

.home img {
  max-width: 120%;
  max-height: 120%;
}

.navbutton:hover {
  background-color: #2980b9;
  cursor: pointer;
}

.active {
  background-color: #206695;
}

.panier {
  border-radius: 100%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panier img {
  max-width: 120%;
  max-height: 120%;
}
